.app-download{
    margin:auto auto;
    margin-top: 80px;
    font-size: max(3vw,20px);
    text-align: center;
    font-weight: 400;
}
.app-download-platform img{
   width:100px; 
   cursor: pointer;
   transition: 0.5s;
}
.app-download-platform img:hover{
   transform: scale(1.08);
 }